/*

grid container -parent- and grid items -childs-
collums and rows

a grid item can also be a grid container


*/

/* ===================================== 
   Grid Layout
======================================== */

.grid {
	display: grid;
	max-width: 1000px;

	/*you can add percentages ems all that shit - auto*/
	/*1fr fills the avaliable space - */
	/*grid-template-columns: 2fr repeat(2, 1fr);*/
	/*grid-template-columns: 1fr 2fr 1fr;*/
	/*grid-template-rows: 100px 200px;*/
	/*grid-template-columns: minmax(200px, 1fr) 1fr 1fr;*/

	/*flexible columns size/*/
	/*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: 100px 100px;

	/*to control implicit rows / columns*/
	grid-auto-rows: minmax(150px, auto);

	/*dont really use this*/
/*	grid-auto-flow: column;
	grid-auto-columns: 100px;*/

	/*grid-column-gap: 20px;
	grid-row-gap: 15px;
	*/
	grid-gap: 15px;
}

.item {
	
	
}


/* ===================================== 
   Page Styles
======================================== */

* {
	box-sizing: border-box;
}
body {
	font-size: 1.4em;
	font-family: 'Varela Round', sans-serif;
  font-weight: bold;
	color: #6e859c;
  padding: 0;
  margin: 0;
	background: #e8e9e9;
}
.grid {
  background: #fff;
  border-radius: 0.285em;
  box-shadow: 0 0.1em 0 0 rgba(0,0,0,0.1);
	margin: 45px auto;
}
.item {
  color: #fff;
  text-shadow: 0 2px 0 rgba(110,133,156,0.18);
  padding: 0.85em;
  background: #6e859c;
  border: solid 1px rgba(110,133,156,0.15);
  border-radius: 0.3em;
}
.item:nth-child(even) {
  background: #a5cee9;
}